/*navbar*/

nav {
    padding: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

nav a.active {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

/*tasklist table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/*taskrow*/
.color-to-do {
    background-color: #f44336;
    /* rosso */
    color: white;
    font-weight: bold;
    text-align: center;
}

.color-doing {
    background-color: #ffeb3b;
    /* giallo */
    color: black;
    font-weight: bold;
    text-align: center;
}

.color-done {
    background-color: #4caf50;
    /* verde */
    color: white;
    font-weight: bold;
    text-align: center;
}