/*navbar*/

nav {
    padding: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

nav a.active {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}